<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <link media="all" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">

    <title>Error</title>
</head>
<body class="p-3 mb-2 bg-light text-black">
<div class="container justify-content-center w-25 p-3" style="background-color: #eeeeee; margin-top: 5em;">
    <h1 class="display-5">Error</h1>
    <div class="alert alert-danger" id="error-msg">
        Something went terribly wrong.<br>Let's go back <a href="/home">Home</a>!
    </div>
</div>
</body>
</html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">