<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

        <title>Home</title>
    </head>
    <body class="p-3 mb-2 bg-light text-black">
        <div class="container">
            <div id="logoutDiv">
                <form action="/login" th:action="@{/logout}" method="POST">
                    <button type="submit" class="btn btn-secondary float-right">Logout</button>
                </form>
            </div>
            <div id="contentDiv" style="clear: right;">
                <nav style="clear: right;">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-files-tab" data-toggle="tab" href="#nav-files" role="tab" aria-controls="nav-files" aria-selected="true">Files</a>
                        <a class="nav-item nav-link" id="nav-notes-tab" data-toggle="tab" href="#nav-notes" role="tab" aria-controls="nav-notes" aria-selected="false">Notes</a>
                        <a class="nav-item nav-link" id="nav-credentials-tab" data-toggle="tab" href="#nav-credentials" role="tab" aria-controls="nav-credentials" aria-selected="false">Credentials</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-files" role="tabpanel" aria-labelledby="nav-files-tab">
                        <form action="#" th:action="@{/home/uploadFile}" enctype="multipart/form-data" method="POST">
                            <div class="container">
                                <div class="row" style="margin: 1em;">
                                    <div class="col-sm-2">
                                        <label for="fileUpload">Upload a New File:</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <input class="form-control-file" id="fileUpload" name="multipartFile"
                                               type="file">
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="submit" class="btn btn-dark" id="uploadButton">Upload</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table class="table table-striped" id="file-table">
                                <thead>
                                <tr>
                                    <th style="width: 20%" scope="col"></th>
                                    <th style="width: 80%" scope="col">File Name</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="file : ${files}">
                                    <td>
                                        <a class="btn btn-success" target="_blank">View</a>
                                        <a class="btn btn-danger" th:onclick="deleteFile([[${file.fileId}]])">Delete</a>
                                    </td>
                                    <th scope="row" th:text="${file.fileName}"></th>
                                </tr>
                                <tr th:if="${#lists.isEmpty(files)}">
                                    <td>
                                        <a target="_blank" class="btn btn-success">View</a>
                                        <a class="btn btn-danger">Delete</a>
                                    </td>
                                    <th scope="row">ExampleFile.txt</th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-notes" role="tabpanel" aria-labelledby="nav-notes-tab">
                        <button class="btn btn-info float-right add" onclick="showNoteModal()" style="margin: 0.25em;"
                                type="button">
                            + Add a New Note
                        </button>

                        <div class="table-responsive">
                            <table class="table table-striped" id="note-table">
                                <thead>
                                <tr>
                                    <th style="width: 20%" scope="col"></th>
                                    <th style="width: 20%" scope="col">Title</th>
                                    <th style="width: 60%" scope="col">Description</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="note-entry" th:each="note : ${notes}">
                                    <td>
                                        <button class="btn btn-success"
                                                th:onclick="showNoteModal([[${note.noteId}]],[[${note.noteTitle}]],[[${note.noteDescription}]])"
                                                type="button">Edit
                                        </button>
                                        <button class="btn btn-danger" th:onclick="deleteNote([[${note.noteId}]])">
                                            Delete
                                        </button>
                                    </td>
                                    <th class="note-title" scope="row" th:text="${note.noteTitle}"></th>
                                    <td class="note-description" th:text="${note.noteDescription}"></td>
                                </tr>
                                <tr th:if="${#lists.isEmpty(notes)}">
                                    <td>
                                        <button class="btn btn-success" type="button">Edit</button>
                                        <a class="btn btn-danger">Delete</a>
                                    </td>
                                    <th scope="row">Example Note Title</th>
                                    <td>Example Note Description</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="noteModalLabel">Note</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="#" method="POST" th:action="@{/home/note}">
                                            <input type="hidden" name="noteId" id="note-id">
                                            <div class="form-group">
                                                <label for="note-title" class="col-form-label">Title</label>
                                                <input type="text" name="noteTitle" class="form-control" id="note-title"
                                                       maxlength="20" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="note-description" class="col-form-label">Description</label>
                                                <textarea class="form-control" name="noteDescription"
                                                          id="note-description" rows="5" maxlength="1000"
                                                          required></textarea>
                                            </div>
                                            <button id="noteSubmit" type="submit" class="d-none"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" onclick="$('#noteSubmit').click();">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-credentials" role="tabpanel" aria-labelledby="nav-credentials-tab">
                        <button class="btn btn-info float-right" onclick="showCredentialsModal()"
                                style="margin: 0.25em;" type="button">
                            + Add a New Credential
                        </button>

                        <div class="table-responsive">
                            <table class="table table-striped" id="credentials-table" th:object="${credentials}">
                                <thead>
                                <tr>
                                    <th style="width: 20%" scope="col"></th>
                                    <th style="width: 35%" scope="col">URL</th>
                                    <th style="width: 20%" scope="col">Username</th>
                                    <th style="width: 25%" scope="col">Password</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="credentials-entry" th:each="credentialsItem : ${credentials}">
                                    <td>
                                        <button class="btn btn-success"
                                                th:onclick="showCredentialsModal([[${credentialsItem.credentialsId}]],[[${credentialsItem.credentialsUrl}]],[[${credentialsItem.credentialsUsername}]],[[${credentialsItem.credentialsPassword}]])"
                                                type="button">Edit
                                        </button>
                                        <button class="btn btn-danger"
                                                th:onclick="deleteCredentials([[${credentialsItem.credentialsId}]])"
                                                type="button">Delete
                                        </button>
                                    </td>
                                    <th class="credentials-url" scope="row"
                                        th:text="${credentialsItem.credentialsUrl}"></th>
                                    <td class="credentials-username"
                                        th:text="${credentialsItem.credentialsUsername}"></td>
                                    <td class="credentials-password"
                                        th:text="${credentialsItem.credentialsPassword}"></td>
                                </tr>
                                <tr th:if="${#lists.isEmpty(credentials)}">
                                    <td>
                                        <button type="button" class="btn btn-success">Edit</button>
                                        <a class="btn btn-danger">Delete</a>
                                    </td>
                                    <th scope="row">Example Credential URL</th>
                                    <td>Example Credential Username</td>
                                    <td>Example Credential Password</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div aria-hidden="true" aria-labelledby="credentialsModalLabel" class="modal fade"
                             id="credentialsModal" role="dialog" tabindex="-1">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="credentialsModalLabel">Credential</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="#" method="POST" th:action="@{/home/credentials}">
                                            <input id="credentials-id" name="credentialsId" type="hidden">
                                            <div class="form-group">
                                                <label class="col-form-label" for="credentials-url">URL</label>
                                                <input class="form-control" id="credentials-url" maxlength="100"
                                                       name="credentialsUrl" required type="text">
                                            </div>
                                            <div class="form-group">
                                                <label class="col-form-label"
                                                       for="credentials-username">Username</label>
                                                <input class="form-control" id="credentials-username" maxlength="30"
                                                       name="credentialsUsername" required type="text">
                                            </div>
                                            <div class="form-group">
                                                <label class="col-form-label"
                                                       for="credentials-password">Password</label>
                                                <input class="form-control" id="credentials-password" maxlength="30"
                                                       name="credentialsPassword" required type="text">
                                            </div>
                                            <button id="credentialSubmit" type="submit" class="d-none"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                        <button type="button" class="btn btn-primary"
                                                onclick="$('#credentialSubmit').click();">Save changes
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-success alert-dismissible" id="success-msg" th:if="${appSuccess}">
                        <span th:text="${appSuccess}"></span>
                    </div>
                    <div class="alert alert-danger alert-dismissible" id="error-msg" th:if="${appError}">
                        <span th:text="${appError}"></span>
                    </div>
                </div>
            </div>
        </div>
        <form action="#" enctype="multipart/form-data" id="delete-file" method="POST" th:action="@{/home/deleteNote}">
            <input hidden="hidden" id="delete-file-value" name="fileId" type="number">
        </form>
        <form action="#" enctype="multipart/form-data" id="delete-note" method="POST" th:action="@{/home/deleteNote}">
            <input hidden="hidden" id="delete-note-value" name="noteId" type="number">
        </form>
        <form action="#" enctype="multipart/form-data" id="delete-credentials" method="POST"
              th:action="@{/home/deleteCredentials}">
            <input hidden="hidden" id="delete-credentials-value" name="credentialsId" type="number">
        </form>
        <script th:src="@{/js/jquery-slim.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <!--For opening the note modal-->
        <script type="text/javascript">
            // For opening the note modal
            window.onload = function () {
                let initialTab = [[${tab}]];
                let tabs = ["#nav-files-tab", "#nav-notes-tab", "#nav-credentials-tab"];
                $(tabs[initialTab]).click();
            }

            function showNoteModal(noteId, noteTitle, noteDescription) {
                $('#note-id').val(noteId ? noteId : '');
                $('#note-title').val(noteTitle ? noteTitle : '');
                $('#note-description').val(noteDescription ? noteDescription : '');
                $('#noteModal').modal('show');
            }

            // For opening the credentials modal
            function showCredentialsModal(credentialId, url, username, password) {
                $('#credentials-id').val(credentialId ? credentialId : '');
                $('#credentials-url').val(url ? url : '');
                $('#credentials-username').val(username ? username : '');
                $('#credentials-password').val(password ? password : '');
                $('#credentialsModal').modal('show');
            }

            function deleteFile(id) {
                $('#delete-file-value').val(id);
                $('#delete-file').submit();
            }

            function deleteNote(id) {
                $('#delete-note-value').val(id);
                $('#delete-note').submit();
            }

            function deleteCredentials(id) {
                $('#delete-credentials-value').val(id);
                $('#delete-credentials').submit();
            }

        </script>
    </body>
</html>